body {
  padding-top: 68px;
  margin: 0;
  font-family: 'Playfair Display SC', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(250, 247, 242);
}
@media(min-width:576px) {
  body {
    padding-top: 112px;
  }

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

.cabecera {
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.05);
  background-color: rgb(250, 247, 242);
}

.foot {
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.05) inset;
}

.tarjeta {
  width: 230px;
  overflow: hidden;
  box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
  border-radius: 6px;
  margin: 30px;
  padding-bottom: 10px;
  background-color: white;
}

@media(min-width:576px) {
  .tarjeta {
    width: 230px;
  }

}

.estiloPresentacion {
  background-color: rgb(238, 238, 238);
  border-radius: 50%;
  display: flex;
  width: 48px;
  height: 48px;
  color: black;


}

.classPrecio {
  padding: 5px;
  font-weight: 400;
  color: black;
  font-size: 1.3rem;
  font-family: 'League Spartan';


}

.card-title {
  font-size: 1rem;
  font-weight: 700;
  color: black;
}

.card-text {
  font-size: 1.2rem;
  font-weight: 300;
  color: grey;
}

.card-presentacion {
  font-size: 0.8rem;
}

.alto {
  min-height: calc(100vh - 280px);
  background-color: rgb(250, 247, 242);

}

.descuento {
  text-decoration: line-through;
}


.descuento-percent {
  font-size: 16px;
  margin-top: 10px;
}

.vaciar {
  cursor: pointer;
}

.fontImput {
  font-family: 'League Spartan';
}

.custom-button {
  border: none;
  outline: none;
}

.custom-button:hover,
.custom-button:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.fondo{
  background-color: #f2c2b8;
}
.logoStyle{
  max-width:50px
}
